{
    "env": {
      "node": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "plugins": ["promise", "jest"],
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error",
      "no-console": "off",
      "camelcase": 1,
      "import/no-extraneous-dependencies": ["error", {"packageDir": "./", "devDependencies": true, "optionalDependencies": true, "peerDependencies": true}]
    }
  }
